.top-tips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fa-text-color);
  opacity: .65;
}

.or-branch-link-tip {
  margin-bottom: 10px;
  color: var(--fa-text-color);
  opacity: .65;
}

.condition-group-editor {
  user-select: none;
  border-radius: 4px;
  border: 1px solid var(--fa-border-color);
  background: var(--fa-bg-color);
  color: var(--fa-text-color);
  position: relative;

  .branch-delete-icon {
    font-size: 18px;
  }

  .header {
    background-color: var(--fa-bg-grey);
    padding: 0 12px;
    font-size: 14px;
    color: var(--fa-text-color);
    height: 36px;
    display: flex;
    align-items: center;

    span {
      flex: 1;
    }
  }

  .main-content {
    padding: 0 12px;

    .condition-relation {
      color: var(--fa-text-color);
      display: flex;
      align-items: center;
      height: 36px;
      display: flex;
      justify-content: space-between;
      padding: 0 2px;
    }

    .condition-content-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        width: 100%;
        min-width: 120px;
        flex: 1;
        flex-shrink: 0;
      }

      div:not(:first-child) {
        margin-left: 16px;
      }
    }

    .cell-box {
      div {
        padding: 12px 0;
        //width: 100%;
        //min-width: 120px;
        color: var(--fa-text-color);
        opacity: .65;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
    }

    .condition-content {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;

      :deep(.el-input__wrapper) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .content {
        flex: 1;
        padding: 0 0 4px 0;
        display: flex;
        align-items: center;
        min-height: 31.6px;
        flex-wrap: wrap;
      }
    }

    .condition-content:last-child {
      margin-bottom: 0;
    }
  }

  .sub-content {
    padding: 12px;
  }
}
